body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.half_width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half_width img{
    padding-top: 60px;
    width: 100%;
}
.top_banner{
    background-image: url("images/top-banner.png") ;
    background-repeat: no-repeat;
}
section{
    height: 500px;
}