body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.name-highlight{
    color: orange;
}
.half_width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.half_width img{
    padding-left: 20px;
    width: 80%;
}
.top_banner{
    background-image: url("images/top-banner.png") ;
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon,tomato );
    background-color: rgb(233, 125, 24);
    padding: 10px 20px;
    border-radius: 10px;
    color: seashell;
    font-weight: 700;
}
.dream_area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}